form{
    border: 1px solid grey;
    margin: 6%;
    width: 30%;    
    margin-left: 35%;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
}
h3{
    color: white;
    text-align: center;
}
label{
    color: white;
    margin-top: 20px;
    
}
input{
    width: 70px;
}