{% extends 'base.html' %}

{% block body %}
<div id="container">
    <p id="work" class="label">WORK TIME: </p>
    <p id="session" class="label">WORK SESSIONS: </p>
    <p id="break" class="label">BREAK: </p>
    <!-- work timer -->
    <div id="work-timer" class="timer">
        <p id="work-minutes">50</p> <p class="space">:</p><p class="work-seconds">00</p>
    </div>

    <p id="counter" class="timer">0</p>

    <!-- break timer -->
    <div id="break-timer" class="timer">
        <p id="break-minutes">50</p> <p class="space">:</p><p class="break-seconds">00</p>
    </div>

    <button id="start" class="btn btn-lg btn-success">Start</button>
    <button id="pause" class="btn  btn-lg btn-secondary">Pause</button>
    <button id="reset" class="btn btn-lg btn-danger">Reset</button>

</div>
{% endblock %}