{% extends 'base.html' %}

{% block body %}
<br><br><br>
<div class="container" style="background-color: rgba(128, 128, 128, 0.922); color: black; height: 50vh;">
    
    <div class="jumbotron">
        <br>
      <h1>POMODORO TIMER PROJECT</h1>
      <p>POMODORO Timer is a time management method that aims to maximize productivity through focused sessions of work. Tasks are divided in intervals of 50 minutes, this is called a work session. After each interval, the worker takes a break of 10 minutes.</p>
    </div>
    <p>Use the POMODORO TIMER by clicking the button below:</p>
    <a class="btn btn-lg btn-success" href="/work">START</a>
  </div>
 
{% endblock %}